.profile-row {
    margin-top: 5em;
    height: 50em;
}

.profile {
    width: 210px;
    height: 210px;
    border-radius: 50%;
}

.profile-img {
    width: auto;
    border-radius: 50%;
    height: 200px;
    border-style: solid;
    border-color: lightblue;
    border-width: 4px;
}

.column-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3em;
}

.column-greeting {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.column-greeting-name {
    color: white;
    font-size: 1.5em;
    text-align: center;
    line-height: 1.5em;
}

.about-me-text {
    color: lightblue;
    font-size: 1em;
}

.profile-socials{
    margin-top: 1em;
}

.profile-linkedin, .profile-bitbucket {
    color: white;
    font-size: 40px;
    text-align: center;
    padding: 15px;
}

.profile-bitbucket:hover, .profile-linkedin:hover {
    color:lightblue;
}

@media screen and (min-width: 1024px) {
    .profile-row {
        margin-top: 5em;
    }
    .column-greeting {
        text-align: left;  
        animation: slideInFromLeft 2s 0.3s forwards;
        visibility: hidden;
    }

    .column-greeting-name {
        font-size: 1.5em;
        text-align: left;
        line-height: 1.2em;
    }

    .about-me-text {
        font-size: 1em;
        text-align: justify;
    }
    .profile {
        height: 310px;
        width: 310px;
        animation: slideInFromLeft 2s 0.3s forwards;
        visibility: hidden;
    }

    .profile-img {
        height: 300px;
        width: 300px;
    }

    .profile-socials{
        margin-top: 1em;
        animation: slideInFromLeft 2s 0.3s forwards;
        visibility: hidden;
    }
}

@media screen and (min-width: 1550px) {
    .profile-row {
        margin-top: 8em;
    }
}
@keyframes slideInFromLeft {
    0% {
        transform: translateX(-50%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        visibility: visible;
    }
}