.projects-row {
  margin-top: 3em;
}
.project-card {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 25px;
  padding-right: 25px;
  height: auto;
  animation: slideInFromDown 2s 0.3s forwards;
  visibility: hidden;
}
  
.project-card-view {
  border: 2px solid white;
  color: white;
  background-color: transparent;
  height: 100%;
}

@keyframes slideInFromDown {
  0% {
      transform: translateY(50%);
      opacity: 0;
  }
  70%{
      display: block;
  }
  100% {
      transform: translateY(0);
      visibility: visible;
  }
}