.tech-icons {
  font-size: 5em;
  color: white;
  margin: 15px;
  padding: 10px;
  border: 2px solid;
  text-align: center;
  transition: all 0.5s ease 0s;
}
.tech-icons:hover {
  transform: scale(1.05);
  border: 2px solid lightblue;
}
.heading {
  color: white;
  font-size: 1.25em;
  text-align: center;
}
  